.outerBox {
  border: 1px solid grey;
  border-radius: 4px;
}

.divider {
  height: 1px;
  background-color: rgba(200, 200, 200, 1.0);
}

.item-icon {
    display:inline-block;
    vertical-align: top;
}

.item-text {
    display: inline-block;
    vertical-align: top;
    margin: 4px;
    font-size: 18px;
}

.list {
    list-style-type:none;
    margin: 0;
}

.list-item {
  height: 25px;
  margin: 0px;
}

.list-item:hover {
  background-color: rgba(200,200,200,0.3);
}